body{
    font-family: 'Open Sans', sans-serif;
}
a{
    color:white;
    transition:1s color ease;
}
.swiper-container {
    width: 100%;
    height: 90vh;
  }
  .centered{
      text-align:center;
  }
  .swiper-slide {
    width:100%;
    height:100%;
    text-align: center;
    font-size: 18px;
    background: #fff;
    background-size:cover;
    background-attachment:fixed;
    background-position:center bottom;
  }
  .swiper-slide h1{
      font-family:'Impact', cursive;
      color:white;
      font-size:4em;
      text-shadow:2px 2px 8px black;
      
  }
  .swiper-slide p{
      color:rgb(247, 244, 244);
      font-size:1.5em;
      letter-spacing:2px;
      font-family:sans-serif;
      text-transform:uppercase;
  }
  .swiper-slide img{
      width:100%;
      height:100%;
      z-index:-1;
  }
  .nav{
      width:100%;
      background-color:black;
  }
.bg-slide{
    padding:2%;
    top:15%;
    display:block;
    position:absolute;
    z-index:10;
    width:50%;
    margin:0 auto;
    background-color:black;
    opacity:0.7;
    text-align:center;
}
.title{
    color:rgb(13, 62, 102);
    font-size:2em;
    font-weight:bold;
}
#learnmore{
    margin-top:5%;
}
#learnmore img{
    width:100%;
    height:30vh;
    border:1px solid grey;
    border-radius: 15px;
    box-shadow:1px 1px 8px grey;
}
#learnmore p {
    text-align:left;
    padding:5%;
    font-size:1.5em;
}
#food img{
    width:100%;
    height:30vh;
    border:1px solid grey;
    border-radius: 15px;
    box-shadow:1px 1px 8px grey;
}
#food p {
    text-align:left;
    padding:5%;
    font-size:1.5em;
}
#food a{
    color:rgb(25, 79, 116);
    text-decoration:underline;
}
#music img{
    width:100%;
    height:30vh;
    border:1px solid grey;
    border-radius: 15px;
    box-shadow:1px 1px 8px grey;
}
#music p {
    text-align:left;
    padding:5%;
    font-size:1.5em;
}
#music a{
    color:rgb(25, 79, 116);
    text-decoration:underline;
}
#footer{
    margin-top:5%;
    background: -webkit-linear-gradient(left bottom, rgb(57, 162, 248), rgb(1, 20, 53));
}
#footer h1{
    color:white;
    font-size:1.5em;
    letter-spacing:2px;
}
#footer p{
    color:white;
    margin:0 auto;
    padding:2%;
}
#footer form input, #footer form textarea{
    margin:0 auto;
    margin-top:3%;
    width:50%;
}
#footer button{
    margin-top:2%;
}
#footer img{
    width:100%;
    border:1px solid black;
    border-radius:15px;
}
#call-us{
    padding:5%;
    background: rgb(24, 27, 31);
}
#contact-us{
    background: rgb(24, 27, 31);
    padding:5%;
}
.bg-halfscreen{
    width:100%;
    height:50vh;
    background: url('https://static01.nyt.com/images/2015/01/14/dining/20150114-PRIME-slide-F0S4/20150114-PRIME-slide-F0S4-master1050.jpg');
    background-attachment:fixed;
    background-size:cover;
}
.bg-halfscreen h1{
    color:white;
    padding-top:5%;
    font-size:4em;
    font-family:'Impact', sans-serif;
    text-shadow:2px 2px 8px rgb(37, 37, 37);
}
.bg-halfscreen p{
    color:white;
    font-size:1.4em;
    letter-spacing: 2px;
    font-family:'Impact';
    font-weight:bold;
    text-shadow:2px 2px 8px rgb(37, 37, 37);
}
.foodies{
    margin-top:-50px;
    background-color:white;
    padding:5%;
}
.foodies h1{
    font-size:2em;
    text-transform:uppercase;
}
.foodies img{
    width:100%;
    box-shadow: 1px 1px 8px grey;
}
.description{
    padding:5%;
    font-size:1.3em;
    color:rgb(155, 154, 154);
    text-align:left;
    line-height: 30px;
}
.media-icons{
    padding-top:3%;
    margin:0 auto;
    text-align:center;
}
.media-icons a{
    padding:2%;
}
.media-icons a:hover{
    color:grey;
}
.fixed{
    position:fixed;
}
@media only screen and (max-width:700px){
    .bg-slide{
        width:100%;
    }
    .nav a{
        font-size:0.7em;
    }
    .bg-halfscreen h1{
        color:white;
        padding-top:10%;
        font-size:2em;
        font-family:'Impact', sans-serif;
        text-shadow:2px 2px 8px rgb(37, 37, 37);
    }
    .bg-halfscreen p{
        display:none;
        color:white;
        font-size:1em;
        letter-spacing: 2px;
        font-family:'Impact';
        font-weight:bold;
        text-shadow:2px 2px 8px rgb(37, 37, 37);
    }
    #learnmore img, #food img, #music img{
        margin-top:2%;
    }
    #contact-us{
        padding:0;
        padding-top:2%;
        padding-bottom:2%;
    }

}
  